*{
    font-family: 'Noto Sans JP', sans-serif;
}

.data{
    font-size:20px;
}

.canvas-container {
    position: relative;
    width:  calc(100% - 40px);
    height: 330px;
    overflow: scroll;
    margin:20px;
}


.data_area{
    margin: 10px;
    width: auto;
    text-align: center;
    display: flex;
   
}

#now_data{
    display: flex;
    flex-wrap: wrap;
    /* background-color: #203864; */
}

#now_data h3{
    background-color: #ffffff;
    color: black;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    margin: 5px;
    font-size: 20px;
}

#temp_area{
    background-color: #f2a1a6;
}

#humi_area{
    background-color: #39bcdd;
}

#pres_area{
    background-color: #00a479;
}

.num_area{
    display: flex;
    flex-flow: column;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 50px 10px 50px;
    background-color: #b0c4de;
    width: 120px;
    justify-content: flex-start;
    border-radius: 5px;
}
.num_area p{
    margin: 0px;
}

.num_data{
    font-family: 'Akshar', sans-serif;
    font-size: 40px;
    font-weight: 600;
}